* {
  max-width: 100%;
}

img {
  max-width: 100%;
}

.width {
  width: 100%;
}

html,
body {
  overflow-x: hidden;
}

.firsttext {
  font-family: "roboto", sans-serif;
  font-size: 35px;
  line-height: 72px;
  text-align: center;
  color: rgb(125, 115, 252);
  font-weight: 700;
  letter-spacing: 1px;
  flex-direction: column;
  flex-wrap: wrap;
  display: flex;
}

nav {
  flex-direction: column;
  flex-wrap: wrap;
  display: flex;
}

.secondtext {
  font-family: "roboto", sans-serif;
  font-size: 35px;
  line-height: 72px;
  text-align: center;
  color: rgb(255, 255, 255);
  font-weight: 500;
}

.link {
  text-decoration: none;
  color: rgb(255, 255, 255);
  align-items: center;
  letter-spacing: 0.03em;
  font-family: "roboto", sans-serif;
  font-weight: 500px;
  font-size: 18px;
  line-height: 16px;
}

p {
  font-family: "roboto", sans-serif;
  font-size: 20px;
  text-align: center;
  color: rgb(200, 200, 212);
  font-weight: 400;
  line-height: 28px;
  padding-left: 24px;
  padding-right: 24px;
}

.image-picture {
  background-image: url(top-circles.svg);
  background-image: url(portfolio.background.shapes.mobile.svg);
  background-size: cover;
  height: 500px;
  position: relative;
  background-repeat: no-repeat;
  padding: 50px;
}

.flex123 {
  flex-direction: column;
  flex-wrap: wrap;
  display: flex;
}

i {
  color: rgb(255, 255, 255);
  fill: rgb(255, 255, 255);
  font-size: 60px;
}

.title {
  color: rgb(148, 155, 255);
  font-family: "roboto", sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 24px;
}

.columnmain {
  width: 65%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.column {
  flex-direction: column;
  flex-basis: 40%;
  display: flex;
  width: 80%;
}

.column-version {
  flex-direction: column;
  flex-basis: 40%;
  display: flex;
  width: 80%;
}

.column3 {
  flex-direction: column;
  display: flex;
  width: 80%;
}

li {
  color: rgb(255, 255, 255);
  font-family: "roboto", sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
}

ul {
  list-style: none;
  padding-left: 0;
}

.icon {
  width: 180%;
  align-items: center;
  display: flex;
}

.icon-responsive-y {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.icon-responsive-x {
  display: none;
}

.icon-responsive {
  width: 100%;
  margin-top: -10%;
}

.input123_responsive {
  height: 48px;
  width: 329px;
}

.input1234x_responsive {
  height: 48px;
  width: 684px;
}

.input12345x_responsive {
  height: 136px;
  width: 684px;
}

.styling2 {
  display: flex;
  height: 15px;
  justify-content: center;
  column-gap: 25px;
  align-items: center;
  margin-top: -15px;
}

.styling3 {
  display: flex;
  height: 15px;
  column-gap: 25px;
  align-items: center;
  margin-top: -15px;
  justify-content: space-around;
  padding: 30px;
}

.myrecentwork {
  font-family: "roboto", sans-serif;
  font-size: 40px;
  line-height: 52px;
  text-align: left;
  color: rgb(148, 144, 255);
  display: flex;
  justify-content: left;
  align-items: center;
  padding-right: -60px;
  flex-wrap: wrap;
  padding-left: 24px;
  padding-top: 35px;
  width: 327px;
  height: 104px;
}

.picture {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  margin-left: 9%;
  margin-top: 40px;
}

.text {
  color: rgb(255, 255, 255);
  text-align: left;
  padding-left: 35px;
  display: flex;
  align-items: left;
  font-family: "roboto", sans-serif;
  font-size: 50px;
}

.paragraph-text {
  text-align: left;
  padding-left: 35px;
  padding-right: 35px;
}

.paragraph-text1 {
  text-align: center;
}

.button1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 10px;
  background-color: rgb(62, 49, 254);
  border-color: rgb(62, 49, 254);
  justify-content: space-around;
  width: 100px;
  margin-left: 30px;
  color: rgb(255, 255, 255);
  font-family: "roboto", sans-serif;
}

button:hover {
  background-color: rgb(125, 115, 252);
  box-shadow: 0 8px 16px rgba(125, 115, 252, 0.48);
}

button:active {
  background-color: rgb(94, 66, 215);
  box-shadow: none;
}

button:disabled {
  background-color: rgb(0, 0, 0);
}

.input123456 {
  margin-top: 40px;
  margin-left: 143px;
  margin-right: 143px;
}

.button123 {
  display: flex;
  align-items: center;
  padding: 12px;
  gap: 10px;
  border-color: rgb(62, 49, 254);
  background-color: rgb(62, 49, 254);
  justify-content: center;
  margin: auto;
  color: rgb(255, 255, 255);
  font-family: "roboto", sans-serif;
  margin-top: 40px;
  flex-direction: column;
  flex-wrap: wrap;
  width: 160px;
  height: 48px;
}

.button12 {
  display: flex;
  align-items: center;
  padding: 12px;
  gap: 10px;
  background-color: rgb(62, 49, 254);
  border-color: rgb(62, 49, 254);
  justify-content: center;
  width: 100px;
  margin: auto;
  color: rgb(255, 255, 255);
  font-family: "roboto", sans-serif;
  margin-top: 40px;
  flex-direction: column;
  flex-wrap: wrap;
}

.redifining1 {
  display: flex;
  gap: 25px;
}

.lastpart {
  padding-left: 19px;
  padding-right: 19px;
  display: grid;
  grid-template-columns: auto;
  width: 95%;
}

.negro {
  padding-left: 19px;
  padding-right: 19px;
  display: grid;
  grid-template-columns: auto;
  width: 95%;
  margin: auto;
  float: right;
}

.separator-text1 {
  flex-direction: column;
  flex-wrap: wrap;
  display: flex;
  padding-left: 24px;
  padding-right: 24px;
  margin-top: 11%;
}

.form-center {
  justify-content: center;
  align-self: center;
  flex-direction: column;
  flex-wrap: wrap;
  display: flex;
  margin: 0 auto;
  width: 90%;
  text-align: center;
}

.form-center-responsive {
  justify-content: center;
  align-self: center;
  flex-direction: column;
  flex-wrap: wrap;
  display: flex;
  margin: 0 auto;
  text-align: center;
  margin-left: 25%;
  margin-right: 25%;
}

.input1234_responsive {
  margin-top: 40px;
  margin-bottom: 24px;
  height: 48px;
  flex-direction: column;
  flex-wrap: wrap;
  display: flex;
  font-family: "roboto", sans-serif;
  width: 329px;
}

.input123 {
  margin-top: 40px;
  height: 48px;
  flex-direction: column;
  flex-wrap: wrap;
  display: flex;
  font-family: "roboto", sans-serif;
}

.input1234 {
  margin-top: 24px;
  margin-bottom: 24px;
  height: 48px;
  flex-direction: column;
  flex-wrap: wrap;
  display: flex;
  font-family: "roboto", sans-serif;
}

.input12345 {
  margin-top: 24px;
  margin-bottom: 24px;
  height: 148px;
  flex-direction: column;
  flex-wrap: wrap;
  display: flex;
  font-family: "roboto", sans-serif;
}

.lasttext {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;

  /* or 140% */
  font-family: "roboto", sans-serif;
  text-align: center;
  color: rgb(255, 255, 255);
  margin-top: -50px;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-items: center;
  justify-self: center;
}

.first {
  width: 95%;
  display: grid;
  grid-template-rows: auto;
}

.second {
  width: 100%;
  display: grid;
  grid-template-rows: auto;
  background-image: url(./background-image-version2.svg);
  background-repeat: no-repeat;
  background-position: 20% 10%;
}

.div-mediaquery-img {
  margin-right: 10%;
}

.third {
  display: grid;
  grid-template-rows: auto;
  margin-top: 10%;
}

.header {
  width: 100%;
  margin-top: 66px;
  justify-content: space-around;
}

.cont1 {
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

nav img {
  width: 29px;
  height: 60px;
  padding-right: 39.33px;
  align-items: center;
}

.logo {
  padding-left: 24px;
}

div a {
  font-family: "roboto", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 16px;
  color: rgb(255, 255, 255);
  text-decoration: none;
}

@media only screen and (min-width: 768px) {
  .img_media_query {
    display: none;
  }

  nav {
    display: flex;
    flex-direction: row;
  }

  .respondive-li {
    margin-right: 20px;
    justify-content: space-around;
  }

  .responsive-ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    row-gap: 50px;
  }

  .myrecentwork {
    margin-left: 12%;
  }

  .styling1_responsive {
    display: none;
  }

  .styling1_li {
    display: flex;
    margin-top: 60%;
  }

  .gap-version {
    gap: 500px;
  }

  .separator-text1 {
    width: 4840px;
    margin-left: -2%;
  }

  .separator-text1-version {
    width: 4840px;
    margin-left: -2%;
    display: none;
  }

  .separator {
    width: 160%;
  }

  .paragraph-text1 {
    margin-left: 15%;
    margin-right: 15%;
    display: none;
  }

  .paragraph-text12 {
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 5%;
  }

  .maintextfooter {
    font-family: "roboto", sans-serif;
    font-weight: 500;
    font-size: 32px;
    line-height: 44px;
    color: rgb(147, 144, 255);
    text-align: center;
    margin: 40px auto;
    display: none;
  }

  .maintextfooter1 {
    font-family: "roboto", sans-serif;
    font-size: 47px;
    color: rgb(147, 144, 255);
    text-align: center;
    margin: 40px auto;
  }

  .footer-icons-flex {
    display: flex;
    align-items: center;
  }

  .text-footer1 {
    font-family: "roboto", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    margin-top: 4%;
  }

  .footer-icons-responsive-desktop {
    display: none;
  }

  .styling1 {
    display: flex;
    justify-content: center;
    font-size: 100px;
    align-items: center;
    column-gap: 30px;
    margin-top: 11%;
    margin-bottom: 0%;
  }

  .styling1-section {
    display: flex;
    justify-content: center;
    font-size: 100px;
    align-items: center;
    column-gap: 30px;
    flex-direction: row;
  }

  .separator-text-important {
    width: 90%;
    display: none;
  }

  .form-center {
    justify-content: center;
    align-self: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 90%;
    text-align: center;
    display: none;
  }

  .separator-text-responsive {
    width: 2000px;
    margin: 0 auto;
    display: none;
  }

  .separator-text {
    margin: auto;
    display: none;
  }

  .separator-text-responsive1 {
    width: 40%;
    margin-left: 12%;
  }

  .styling1x-responsive {
    display: flex;
    font-size: 70px;
    justify-content: space-around;
    gap: 30px;
    margin-bottom: 90px;
  }

  .redifining {
    display: none;
  }

  .redifining-mediaquery {
    display: flex;
  }

  .picture-mediaquery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 1600px;
    margin: 0 auto;
    margin-left: 9%;
    margin-top: 40px;
  }

  .picture-mediaquery1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 2000px;
    margin: 0 auto;
    margin-left: 9%;
    margin-top: 40px;
  }

  .div-mediaquery1-version2 {
    margin-left: 7%;
  }

  .disappear-from-desktop {
    display: none;
  }

  .div-mediaquery {
    margin-left: 5%;
  }

  .div-mediaquery-x {
    margin-right: 5%;
  }

  .div-mediaquery1 {
    margin-right: 5%;
    margin-left: 5%;
  }

  .styling-version {
    margin-left: -80%;
  }

  .column {
    flex-direction: column;
    flex-basis: 40%;
    width: 80%;
    display: none;
  }

  .columnmain-version {
    width: 32%;
    display: flex;
    gap: -30px;
    justify-content: space-between;
    margin-left: 18%;
  }

  .firsttext {
    font-family: "roboto", sans-serif;
    font-size: 35px;
    line-height: 72px;
    text-align: center;
    color: rgb(125, 115, 252);
    font-weight: 700;
    letter-spacing: 1px;
    flex-direction: column;
    flex-wrap: wrap;
    display: flex;
    margin-left: -20%;
  }

  .firsttext-version {
    font-family: "roboto", sans-serif;
    font-size: 35px;
    line-height: 72px;
    text-align: center;
    color: rgb(125, 115, 252);
    font-weight: 700;
    letter-spacing: 1px;
    flex-direction: column;
    flex-wrap: wrap;
    display: none;
  }

  .secondtext {
    font-family: "roboto", sans-serif;
    font-size: 35px;
    line-height: 72px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-weight: 500;
    margin-left: -20%;
  }

  .secondtext-version {
    font-family: "roboto", sans-serif;
    font-size: 35px;
    line-height: 72px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-weight: 500;
    display: none;
  }

  .parrafo-version {
    display: none;
  }

  .parrafo {
    margin-left: 5%;
    margin-right: 43%;
  }

  .icon-version {
    width: 100%;
  }

  .work-section {
    margin-left: 83px;
  }

  .second-part-1-section {
    display: flex;
    margin-top: 4%;
  }

  .icon-section {
    width: 100%;
    align-items: center;
    margin-top: -1.5%;
  }

  .work-section-right {
    margin-right: 89px;
  }

  body {
    position: relative;
    background-color: rgb(25, 23, 101);
    background-image: url(./two.circles.header.svg);
    background-repeat: no-repeat;
    background-position: 40% 5%;
  }

  .myrecentwork-version {
    display: none;
  }

  .button1-color {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px;
    gap: 10px;
    background-color: rgb(62, 49, 254);
    border-color: rgb(62, 49, 254);
    justify-content: space-around;
    width: 100px;
    margin-left: 30px;
    color: rgb(255, 255, 255);
    font-family: "roboto", sans-serif;
  }

  .first {
    animation: transitionIn 0.75s;
    margin-left: 25%;
    margin-right: 50%;
    width: 80%;
    justify-content: center;
  }

  @keyframes transitionIn {
    from {
      opacity: 0;
      transform: rotateX(-10deg);
    }

    to {
      opacity: 1;
      transform: rotateX(0);
    }
  }
}

@media only screen and (max-width: 768px) {
  .responsive-ul {
    display: none;
  }

  .img_media_query_desktop {
    display: none;
  }

  .p_responsive {
    display: none;
  }

  .styling1_li {
    display: none;
  }

  .maintextfooter {
    font-family: "roboto", sans-serif;
    font-weight: 500;
    font-size: 32px;
    line-height: 44px;
    color: rgb(147, 144, 255);
    text-align: center;
    margin: 40px auto;
  }

  .paragraph-text12 {
    margin-left: 15%;
    margin-right: 15%;
    display: none;
  }

  .maintextfooter1 {
    font-family: "roboto", sans-serif;
    font-weight: 500;
    font-size: 32px;
    line-height: 44px;
    color: rgb(147, 144, 255);
    text-align: center;
    margin: 40px auto;
    display: none;
  }

  .footer-icons-flex {
    display: none;
  }

  .icon {
    flex-direction: column;
    flex-wrap: wrap;
    width: 180%;
    align-items: center;
    display: flex;
    justify-content: space-around;
    margin-bottom: -15%;
  }

  .styling1_responsive {
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
    margin-bottom: -15%;
  }

  .styling1-responsive {
    display: flex;
    font-size: 70px;
    justify-content: space-around;
    align-items: center;
  }

  .styling1-section {
    display: flex;
    column-gap: 20px;
  }

  .styling1 {
    display: flex;
    font-size: 70px;
    justify-content: space-around;
    align-items: center;
    column-gap: 20px;
  }

  .separator-text {
    margin: auto;
  }

  .separator-text-important {
    width: 2000px;
  }

  .form-center-responsive {
    justify-content: center;
    align-self: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 90%;
    text-align: center;
    display: none;
  }

  .separator-text-responsive {
    display: none;
  }

  .separator-text-responsive1 {
    display: none;
  }

  .redifining-mediaquery {
    display: none;
  }

  .column-version {
    display: none;
  }

  .firsttext-version {
    font-family: "roboto", sans-serif;
    font-size: 35px;
    line-height: 72px;
    text-align: center;
    color: rgb(125, 115, 252);
    font-weight: 700;
    letter-spacing: 1px;
    flex-direction: column;
    flex-wrap: wrap;
    display: none;
  }

  .secondtext-version {
    font-family: "roboto", sans-serif;
    font-size: 35px;
    line-height: 72px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-weight: 500;
    display: none;
  }

  .parrafo {
    display: none;
  }

  .icon-section {
    display: none;
  }

  .icon-section-mobile {
    width: 180%;
    align-items: center;
    display: flex;
  }

  body {
    position: relative;
    background-color: rgb(25, 23, 101);
    background-image: url(./two.circles.header.svg);
    background-repeat: no-repeat;
    background-position: 15% 5%;
  }

  .myrecentwork-version {
    font-family: "roboto", sans-serif;
    font-size: 40px;
    line-height: 52px;
    text-align: left;
    color: rgb(148, 144, 255);
    display: flex;
    justify-content: left;
    align-items: center;
    padding-right: -60px;
    flex-wrap: wrap;
    padding-left: 24px;
    padding-top: 35px;
    width: 327px;
    height: 104px;
  }

  .myrecentwork {
    display: none;
  }

  .separator-text1-version {
    width: 4840px;
    margin-left: -2%;
  }
}
